@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #505081;
  --secondary: #10B981;
  --dark: #0F0E47;
  --light: #F3F4F6;
  --accent: #8686AC;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
